H1{
  box-sizing: content-box;
  border: 3px solid;
  border-color: gray;
  text-shadow: 100;
}

div.lemargin{
  width: 880px;
  text-emphasis: none;
  font-weight: normal;
  font-style: normal;
}

body{
  font-size: 20px;
  margin: 10px 40px 20px;
  color: gray;
  background-color: rgb(5,5,5);
  font-weight:normal;
}

a{
  color: rgb(102, 204, 255);


}
